$dark-accent: #2e260d;
$light-accent: #f15a24;
$bg-color: #fff;
$text-color: #000;
$heading-font: "Oswald", sans-serif;
$text-font: "Lato", sans-serif;
$homepage-hero-image: url(/dist/img/hero.png);
$contact-hero-image: url(/dist/img/contact-hero.png);

@mixin easeOut {
  transition: all 0.5s ease-out;
}

//Media Quary Mixins
@mixin mediaSm {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1399px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1400px) {
    @content;
  }
}
