.topnav {
  overflow: hidden;
  background-color: $dark-accent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 2;

  .identity {
    display: block;
    float: left;
    font-size: 0;
    background: url(/dist/img/Logo.svg);
    background-repeat: no-repeat;
    height: 35px;
    width: 180px;
    margin: 5px 16px;
  }

  .menu {
    float: right;

    a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 12px 16px;
      text-decoration: none;
      font-size: 16px;

      &:hover {
        background-color: lighten($dark-accent, 50);
        color: black;
      }
    }

    .active {
      background-color: $light-accent;
      color: white;
    }

    .icon {
      display: none;
    }
  }
}
