@import "config";
@import "menu";

// General document Setup
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $text-font;
  margin-top: 40px;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: $heading-font;
  letter-spacing: 0.25ch;
}

p {
  line-height: 1.25rem;
}

.lg-heading {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.85ch;
  padding: 0.25rem 0;
  margin: 1rem;
  text-align: center;
}

.btn {
  display: inline-block;
  background: $light-accent;
  width: 135px;
  height: 35px;
  font-size: 1rem;
  font-family: $heading-font;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.85ch;
  border-radius: 5px;
  padding: 5px;

  &:hover {
    background: lighten($light-accent, 25);
    color: #000;
  }
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 95vh;
  z-index: 0;

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 75vw;

    h1 {
      display: inline-block;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.85ch;
      padding: 0.25rem 0;
      margin-bottom: 1rem;
      border-bottom: 3px $light-accent solid;
    }

    p {
      font-size: 2.5rem;
      letter-spacing: 0.15ch;
      line-height: 2.75rem;
      margin-bottom: 1rem;
    }
  }
}

// Portfolio
// Hero Image
.home .hero-image {
  background-image: $homepage-hero-image;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

// Portfolio
.projects {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 1rem 1rem;
  width: 100%;

  .item {
    position: relative;
    height: 350px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

    h2,
    p,
    .btn {
      display: block;
      padding: 1rem;
      visibility: hidden;
      position: absolute;
      left: 0;
    }

    h2 {
      top: 0;
    }

    p {
      top: 150px;
      font-weight: 700;
    }

    .btn {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
      width: 154px;
      bottom: 10px;
    }

    img {
      object-fit: cover;
      object-position: center;
      height: auto;
      width: 100%;
    }
  }

  :hover {
    h2,
    p,
    .btn {
      visibility: visible;
    }

    img {
      opacity: 0.5;
    }
  }
}

// Contact Page
//Hero-image
.contact .hero-image {
  background-image: $contact-hero-image;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  height: 50vh;
}

.contact-form {
  display: block;
  width: 50vw;
  margin: 0 auto 1rem;

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid lighten($dark-accent, 50);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  textarea {
    height: 10rem;
  }

  input[type="submit"] {
    border: none;
  }
}

.contact-ty {
  text-align: center;
  padding-bottom: 2rem;
}

//footer
footer {
  position: absolute;
  //bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-top: 1px $dark-accent solid;
}
@import "mobile";
